###############################################
# DATABASE CONFIGURATION
###############################################

DB_USER=your_user
DB_PASSWORD=your_password
DB_NAME=your_database
DB_PORT=your_port (5432)
DATABASE_URL=postgresql://your_user:your_password@postgres:your_port/your_database


###############################################
# API / BACKEND CONFIGURATION
###############################################

API_PORT=3000
VITE_API_URL=http://url:3000
NODE_ENV=production


###############################################
# FRONTEND CONFIGURATION
###############################################

FRONTEND_PORT=5173
FRONTEND_URL=http://url:5173


###############################################
# AUTHENTICATION / SECURITY
###############################################

# Clé secrète JWT (générée une fois)
JWT_SECRET=your_jwt_secret_here


###############################################
# EMAIL CONFIGURATION (MAILJET)
###############################################

MAILJET_API_KEY=your_mailjet_api_key
MAILJET_API_SECRET=your_mailjet_api_secret
MAILJET_FROM_EMAIL=noreply@yourdomain.fr
MAILJET_FROM_NAME=SYour-domain


###############################################
# DEFAULT ADMIN ACCOUNT
###############################################

DEFAULT_ADMIN_EMAIL=admin@example.com
DEFAULT_ADMIN_PASSWORD=your_admin_password
DEFAULT_ADMIN_NOM=your_admin_nom
DEFAULT_ADMIN_PRENOM=your_admin_prenom
DEFAULT_ADMIN_LOGIN=your_admin_login

###############################################
# Ghost user (for archives)
###############################################

GHOST_USER_ID=id_user
GHOST_EMAIL=arhchives@example.com
GHOST_PASSWORD=your_admin_password
GHOST_NOM=your_admin_nom
GHOST_PRENOM=your_admin_prenom
GHOST_LOGIN=your_admin_login